.container {
	width: 100%;
}

h1 {
	font-size: 3.5em;
}

h3 {
	font-size: 1.25em;
}

p {
	font-size: .75em;
}

.header_social {
	font-size: 2.5em;
}

.left_footer {
	width: 100%;
	margin: 0;
	padding: 5px 0 0 5px;
}

.right_footer {
	width: 100%;
	margin: 0;
	padding: 0 0 0 5px;
}