* {
	box-sizing: border-box;
}

h1 {
	font-size: 4em;
	font-family: 'Amaranth', sans-serif;
	margin: 0;
}

h3 {
	font-size: 1.5em;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
}

body {
	margin: 0;
}

a {
	color: white;
}

p {
	margin: 0;
}

header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 120px;
	background-color: black;
	position: fixed;
	top: 0px;
}

.header_name {
	width: 75%;
	color: white;
	padding-left: 20px;
}

.header_social {
	width: 25%;
	color: white;
	font-size: 3em;
	text-align: center;
	margin: auto;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 980px;
	margin: 130px auto;
	padding-top: 10px;
}

.main_project {
	width: 100%;
}

.main_project img {
	max-width: 100%;
}

.small_project {
	width: 45%;
}

.horizontal_spacer {
	height: 60px;
	width: 100%;
}
.spacer {
	width: 10%;
}

.small_project img {
	max-width: 100%;
}

figcaption {
	width: 45%;
	height: 50px auto;
	background-color: #2d3c49;
	margin-top: -4px;
	color: white;
}

figcaption p {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 4px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 200px;
	background-color: #2d3c49;
	font-family: 'Quicksand', sans-serif;
	color: white;
}

.left_footer {
	width: 30%;
	padding: 20px;
	font-size: 1.5em;
	margin: auto;
}

.right_footer {
	width: 70%;
	padding: 20px;
	font-size: 3em;
	margin: auto;
}